.centered-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .nav-ctrls {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin-bottom: 20px;
    }
}

.blue-square {
    background-color: #3498db; /* Blue background color */
    border-radius: 5px; /* Rounded corners */
    padding: 45px 15px 45px 15px; /* Add padding for better appearance */
    color: #fff; /* Text color */
    margin-top: 20px;
}