<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrollable Container Page</title>
    <style>
        .b {
            border: 1px dotted red;
        }
    </style>
</head>
<body>
    <div class="b" style="height: 300px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <button style="background-color: black; height: 100%">
            <div class="b">
                <svg style="height: 15px;">
    
                </svg>
            </div>
        </button>
    </div>
</body>
</html>
