$SIDEBAR_WIDTH: 220px;

.background {
    background-color: var(--background);
    height: 100dvh;
}

.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: $SIDEBAR_WIDTH;
    background-color: var(--gray5);

    .sidebar-nav {
        .navbar-logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        .navbar-logo {
            display: block;
            height: 92px;
            border-radius: 4px;
            transition: opacity .3s ease-in-out;
        }

        .sidebar-nav-item {
            display: flex;
            align-items: center;
            border-radius: 8px;
            padding: 8px 8px 8px 12px;
            margin: 2px 11.5px;
            width: calc(100% - 24px);
            height: 38px;
            font-size: 14px;
            font-weight: 500;

            cursor: pointer;
            transition: all 0.17s ease;

            &.active {
                background-color: var(--gray3);
            }

            &:hover:not(.active) {
                background-color: var(--gray4);
            }
        }
    }

    .user-panel {
        display: flex;
        position: absolute;
        bottom: 0;
        width: calc($SIDEBAR_WIDTH - 16px);
        align-items: center;
        border: 2px solid transparent;
        border-radius: 8px;
        padding: 8px 8px 8px 12px;
        margin: 8px;
        transition: background-color .17s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: var(--gray4);
        }

        .avatar {
            width: 32px;
            height: 32px;
            border-radius: 8px;
            border: none;
        }

        .name-wrapper {
            margin-left: 8px;
            font-size: 16px;
            font-weight: 500;
            color: var(--text);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            span {
                display: block;
                margin: -5px 0;
            }

            .user-name {
                color: var(--gray);
            }
        }
    }
}

.content {
    right: 0;
    bottom: 0;
    position: fixed;
    width: calc(100vw - 220px);
    height: 100vh;
    padding: 16px;
    background-color: var(--background);
}

@media only screen and (max-width: 800px) {
    $SIDEBAR_HEIGHT: 75px;

    .sidebar {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        top: 0;
        left: 0;
        height: $SIDEBAR_HEIGHT;
        width: 100%;

        .sidebar-nav {
            display: flex;
            height: 100%;
            width: 80%;
            align-items: center;
            overflow-x: auto;
            grid-area: 1 / 1 / 2 / 4;

            .navbar-logo {
                margin-left: 12px;
                height: 75px !important;
            }
        }

        .user-panel {
            top: 0;
            width: unset;
            height: unset;
            padding: 8px;
            right: 10px;
            grid-area: 1 / 4 / 2 / 5;

            .user-name {
                display: none;
            }
        }
    }

    .content {
        position: relative;
        top: $SIDEBAR_HEIGHT;
        width: 100%;
        height: calc(100vh - $SIDEBAR_HEIGHT);
        padding: 16px;
        overflow-y: auto;
    }
}

$INPUT_COLOR: #99A3BA;
$INPUT_BORDER: #CDD9ED;
$INPUT_BACKGROUND: #fff;
$INPUT_PLACEHOLDER: #CBD1DC;

$JOIN_BUTTON_COLOR: #23a55a;
$CREATE_BUTTON_COLOR: #678EFE;

// --group-color: var(--input-color);
// --group-border: var(--input-border);
// --group-background: #EEF4FF;

// --group-color-focus: #fff;
// --group-border-focus: var(--input-border-focus);
// --group-background-focus: #678EFE;

.mt-1 {
    margin-top: 5px;
}
.mt-2 {
    margin-top: 10px;
}
.mt-3 {
    margin-top: 15px;
}

.h-1 {
    height: 40px;
}
.h-2 {
    height: 80px;
}
.h-3 {
    height: 120px;
}

.text-center {
    text-align: center;
}

.bg-danger {
    background-color: #F87171 !important;
}
.bg-success {
    background-color: #34D399 !important;
}
.bg-info {
    background-color: #60A5FA !important;
}
.bg-warning {
    background-color: #FBBF24 !important;
}
.c-danger {
    color: #F87171 !important;
}
.c-success {
    color: #34D399 !important;
}
.c-info {
    color: #60A5FA !important;
}
.c-warning {
    color: #FBBF24 !important;
}

.bi {
    vertical-align: center;
}


.modal {
    &.center {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    
    @media screen and (max-width: 400px) {
        width: 400px;
    }
    
    @media screen and (max-width: 800px) {
        width: 400px;
    }

    @media screen and (min-width: 800px) {
        width: 400px;
    }

    background-color: var(--gray5);
    border-radius: 10px;
    min-width: 400px;
    padding: 25px;
    text-align: center;
    transition: background-color .3s ease, border .3s ease, color .3s ease;

    h1 {
        margin: 0;
        font-size: 24px;
    }

    .actions {
        margin-top: 5px;
        padding: 8px 16px;

        .action {
            position: relative;
            display: flex;
            width: 100%;
            border-radius: 5px;
            
            &.border-center {
                button, input, a {
                    &:not(:last-child) {
                        border-right: 1px solid var(--gray2);
                    }
                }
            }

            &.border {
                border: 1px solid var(--gray2);

                button, input, a {
                    &:not(:last-child) {
                        border-right: 1px solid var(--gray2);
                    }
                }
            }

            &:not(:first-child) {
                margin-top: 5px;
            }

            * {
                background: none;
                width: 100%;
            }

            button, a {
                &:not(:disabled) {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            button, input, a {
                user-select: none;
                white-space: nowrap;
                display: block;
                &:not(.no-dyn-txt) {
                    color: var(--text);
                }
                &.no-dyn-txt {
                    color: #000000;
                }
                &.dyn-txt {
                    color: var(--text);
                }

                &:first-child {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;

                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                &:last-child {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;

                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                // &:not(:first-child) {
                //     margin-left: -1px;
                // }

                &:not(:first-child):not(:last-child) {
                    border-radius: 0;
                }

                &:only-child {
                    border-radius: 5px;
                }
            }

            &>input {
                z-index: 1;
                display: block;
                position: relative;
                flex: 1 1 auto;
                margin-top: 0;
                margin-bottom: 0;
                padding: 8px 16px;
                line-height: 25px;
                font-size: 14px;
                border-radius: 6px;
                color: var(--gray2);
                background: none;
                transition: border .3s ease, color .3s ease;
                
                &::placeholder {
                    line-height: 25px; // Increase the line-height for larger placeholder
                    font-size: 14px; // Increase the font-size for larger placeholder
                    color: var(--gray2);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:focus {
                    outline: none;
                    color: var(--text);
                }
            }

            &>button, &>a {
                text-align: center;
                padding: 8px 12px;
                font-size: 14px;
                line-height: 25px;
                transition: background .3s ease, border .3s ease, color .3s ease;

                &:not(:disabled) {
                    &:hover {
                        filter: brightness(85%);
                    }
                }
            }

            &.no-dyn-txt {
                button, input, a {
                    &:not(.dyn-txt) {
                        color: #000000;
                    }
                }
            }

            &:not(.no-dyn-txt) {
                button, input, a {
                    color: var(--text);
                }
            }

            &.dyn-txt {
                button, input, a {
                    color: var(--text);
                }
            }
        }
    }

    span {
        a {
            color: var(--text);
            text-decoration: underline;
            transition: color .3s ease;

            &:hover {
                color: var(--text);
            }
        }
    }
}
