.cols-2 {
    grid-template-columns: repeat(2, 1fr);
}
.cols-3 {
    grid-template-columns: repeat(3, 1fr);

}
.choice-grid {
    // position: fixed;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    display: grid;
    gap: 20px;
    max-width: 600px;

    .choice-box {
        background-color: var(--gray5);
        padding: 50px;
        border: 1px solid var(--gray3);
        text-align: center;
        font-size: 18px;
        border-radius: 5px;
        transition: background-color 0.3s;
        cursor: pointer;
        
        &:hover {
            background-color: var(--gray4);
        }
    }
}